
/* default values (plain icon )*/
.icon {
  width: 32px;
  height: 32px;
  fill: #000;
}

/* default values (stroke icon )*/
.icon--stroke {
  fill: transparent;
  stroke: #000;
}


/* here is where will live predefined size (advised by our Visual and UX designers )*/
.icon--small {
  width: 16px;
  height: 16px;
}

.icon--large {
  width: 64px;
  height: 64px;
}
